* {
  box-sizing: border-box;
}

:root {
  --bg: #223;
  --color: #eee;
  --starColor: #ec0;
  --starDarkColor: #860;
  --borderColor: 1px solid #eee6;
  --danger: #e30;
}

body {
  color: var(--color);
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
}

a {
  display: block;
  margin-right: 16px;
  color: var(--color);
  text-decoration: none;
  font-size: 24px;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

header {
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table__group {
  display: flex;
  justify-content: center;
}

.table {
  margin: 24px 4px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: end;
}

.title {
  align-self: flex-start;
  order: 1;
}

.table__column {
  display: flex;
  flex-direction: column-reverse;
}

.table__column__item {
  width: 40px;
  text-align: center;
  line-height: 1.5;
  border-bottom: var(--borderColor);
}

.pt-2 {
  padding-top: 8px;
}

.m-2 {
  margin: 8px;
}

.container {
  margin: auto;
  max-width: 1056px;
}

.text-vertical {
  writing-mode: vertical-lr;
}

.tf__group {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

input[type='radio'] {
  display: none;
}

label {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  text-align: center;
  line-height: 1.75;
  border-radius: 50%;
  background: var(--starDarkColor);
  color: var(--bg);
  cursor: pointer;
  transition: .2s;
}

input[type='radio']:checked + label {
  background: var(--starColor);
}

.ans {
  display: flex;
  justify-content: space-between;
  height: 172px;
}
.text-danger {
  color: var(--danger);
}
.text-success {
  color: var(--starColor);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1120px) {
  .table__group {
    flex-direction: column;
  }
  .tf__group {
    flex-direction: column;
    align-items: center;
  }
  .container {
    max-width: 360px;
  }
  .flex-center {
    flex-direction: column;
  }
}
